<template name="ApplicationLayout">
  <header>
    <title>TriviaRumbilia</title>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </header>  
    <body>
        <header>
           <nav role="navigation">
              <div class="nav-wrapper container">
                  <a href="/" id="logo-container" class="brand-logo">Trivia Rumble</a>
                  <ul class="right">
                      <li><a herf="/search"><i class="material-icons                                                      left">search</i>FindFriends</a></li>
                      <li>{{> loginButtons align=right}}</li>
                  </ul>
              </div>
           </nav>
        </header>
        <main>
        {{> yield}}
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    @ 2016 Sean Esco
                </div>
            </div>
        </footer>
    </body>
</template>
